body {
    background-color: #fde4cf;
}
.page-wrapper {
    margin:5vh 5vw;
}
h1 {
    text-align: center;
}
#quote {
    width: 50vw;
    margin: auto;
    text-align: justify;
}
.gallery {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery img {
    padding: 10px;
    border-radius: 30px;
    /*border: 10px solid rgba(253, 228, 207, .5);*/
    /*filter: drop-shadow(0 0 5px #f8a560);*/
    /*-webkit-filter: drop-shadow(0 0 10px #fbcba2);
    filter: drop-shadow(0 0 10px #fbcba2);
    overflow: scroll;
    overflow-clip-margin: 0px;*/
}