body {
    background-color: #fde4cf;
    font-family: 'Nobile', sans-serif;
    font-size: 1rem;
}
.page-wrapper {
    margin:5vh 5vw;
}
h1, h2 {
    text-align: center;
    margin: 0;
}
p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}
p:last-child {
    margin-bottom: 0;
}
h1 {
    font-size: 5rem;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'The Girl Next Door', cursive;
}
h2 {
    font-size: 2.25rem;
    font-family: 'Halant', serif;
}
#quote {
    max-width: 500px;
    margin: auto;
    text-align: justify;
    background-color: #545677;
    padding: 0 10px 10px 10px;
}
#quote h2 {
    color: #ffffff;
}
.offer-text {
    background-color: #ffffff;
    padding: 5px 10px 10px 10px;
    margin: 0;
}
.gallery {
    display: flex;
    flex-direction: row;
    /*max-width: 90vw;*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.gallery img {
    padding: 10px;
    border-radius: 30px;
    overflow: scroll;
    /*object-fit: contain;
    /*border: 10px solid rgba(253, 228, 207, .5);*/
    -webkit-filter: drop-shadow(0 0 10px #fbcba2);
    /*filter: drop-shadow(0 0 5px #f8a560);*/
    filter: drop-shadow(0 0 10px #fbcba2);
    /*overflow-clip-margin: 0px;*/
}
img.portrait {
    max-width: 450px;
    max-height: 600px;
    /*-webkit-mask-image: radial-gradient(ellipse, black 75%, rgba(0, 0, 0, .5) 50%);
    mask-image: radial-gradient(ellipse, black 75%, rgba(0, 0, 0, .5) 50%);*/
}
img.landscape {
    max-width: 600px;
    max-height: 450px;
    /*-webkit-mask-image: radial-gradient(ellipse, black 75%, rgba(0, 0, 0, .5) 50%);
    mask-image: radial-gradient(ellipse, black 75%, rgba(0, 0, 0, .5) 50%);*/
}
img.square {
    max-width: 450px;
    max-height: 450px;
    /*mask-image: radial-gradient(circle, black 75%, rgba(0, 0, 0, .5) 50%);*/
}
/*@media screen and (max-width: 495px) {
    .gallery img { max-width: 450px;
    object-fit: contain;
    }
    
}